body {

}

.SlidingPuzzleFigure{
    position: relative;
    top: 32px;
    left: 32px;
    padding: 8px;
    background: black;
    border-radius: 5px;
    height: 199px;
    width: 202px;
}

figure {
    margin-block-start: 0px;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.SlidingPuzzle {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
}

.Tile {
    position: relative;
    padding: 8px;
    background: #fff;
    text-align: center;
    border: 6px outset #ccc;
    font-size: 34px;
    font-family: sans-serif;
}

figcaption {
    margin-top: 15px;
    padding-left: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-style: oblique;
}
